body {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #e6e6ff;
}

.mainContainer {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 40vw;
  height: 40vw;
  top: 15%;
  padding: 0;
  border: 5px solid #202020;
}

.row {
  margin: 0;
  padding: 0;
  box-shadow: inset 0 0 0 1px #202020;
  display: inline-grid;
  width: 2.5vw;
  height: 2.5vw;
  float: left;
}


.newColor {
  background-color: black;


}


